@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Comfortaa:wght@500&display=swap');

body{
    /* background-color: #FFFAF6; */
    /* background-color: #fcfcf7; */
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #8BC63E)
    color-stop(0.5, #EEEEEE))!important; */
    /* background-color: white; */
    /* min-height: 100vh; */
}

.adjustFooter {
    min-height: calc(100vh - 65px);
}

.noResult {
    text-align: center; 
    color: gray; 
    font-family: "Barlow";
    margin-top: 1.5em;
}

.filterButton{
    background: #A3A5AB;
    border-radius: 20px;
    color: white;
    height: 2em;
    padding-left: 0.5em;
    text-align: left;
    font-family: "Merriweather";
    border: none;
    width: 160px;
    margin: 0 auto;
}


.leftAlign{
    float: right;
}