a {
    text-decoration: none;
    color: inherit;
}

span {
    display: block;
    font-family: "Lora";
}

.Block{
    max-width: 600px;
    margin-left: auto;
    margin-right:auto;
    padding-left: 5%;
    padding-right: 5%;
    /* margin-left: auto;
    margin-right: auto; */
    cursor: pointer; 

}

.Handle{
    display: inline;
    color: #687684;
    font-size: 14px;
    line-height: 1em;
}

.mediaType {
    font-size: 14px;
    color: #669693;
    display: inline-block;
}

.trendingNum {
    font-size: 12px;
    color: #464745;
    opacity: 90%;
    float: right;
}

.blockTitle {
    font-size: 20px;
    margin-bottom: 0.2em;
}

.description {
    font-family: "Merriweather";
    font-size: 14px;
    padding-bottom: 1.5em;
    display: block;
    flex: 1;

}

.circlePhoto {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    object-fit: cover;
    float: left;
    margin-right: 0.5em;
    margin-top: 0.4em;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
}

.posterPhoto {
    width: 4em;
    object-fit: scale-down;
    border-radius: 4px;
    float: left;
    margin-right: 0.5em;
    margin-top: 0.3em;
    filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
}

.youtubeImage {
    /* height: 2.2em; */
    height: 6em;
    width: 4em;
    object-fit: cover;
    transform: translateY(-12px); 

    
}

.youtubeImageFormat{
    height: 4em;
    overflow: hidden;
    object-fit: fill;
    width: 4em;
    height: 4em;
    float: left;
    border-radius: 4px;
    margin-right: 0.5em;
    filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));



}


Divider{
    variant: fullWidth;

}

.hashtag {
    color: #4C9EEB;
    cursor: pointer;
    text-decoration: none;
}
.hashtag:hover {
    text-decoration: underline;
}

.reddit{
    color: #669693;
}

.movie{
    color: #CD3764;
}

.tv{
    color: #52B7D7;
}

.twitterPost {
    color: #4C77C9;
}

.videoGame{
    color: #D7A252;
}

.song{
    color: #B1945C;

}