@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Comfortaa:wght@500&display=swap');

.outerCircle{
    /* background-opacity: 30%; */
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    margin-bottom: 1em !important;

}


.MuiFormLabel-root {
    /* color: white !important; */
    font-family: "Barlow" !important;
    font-size: 18px !important;

}

.MuiInput-input {
    color: white !important;
    font-family: "Barlow" !important;
    font-size: 18px !important;

}

/* .MuiInputLabel-root {
    color: white !important;
    font-family: "Roboto";
} */

.MuiPickersToolbar-toolbar {
    background-color: #333333 !important;
}

.MuiPickerDTTabs-tabs{
    background-color: #333333 !important;
}

.PrivateTabIndicator-colorSecondary-14{
    background-color: #C68BDF !important;
}

.MuiIconButton-root{
    color: white !important;
    opacity: 80% !important;

}

.MuiInput-underline::before{
    /* border-bottom-color: white !important;
 */
    border-bottom: none !important;
}

.MuiInput-underline::after{
    /* border-bottom-color: white !important; */
    border-bottom: none !important;
}

.MuiPickersDay-day{
    color: black !important;
}

.MuiPickersDay-daySelected{
    color: white !important;
    background-color: #8869A5 !important;

}

.MuiPickersClock-pin{
    background-color: #8869A5 !important; 
}

.MuiPickersClockPointer-pointer{
    background-color: #8869A5 !important; 
}

.MuiPickersClockPointer-noPoint{
    background-color: #8869A5 !important; 
}

.MuiPickersClockPointer-thumb{
    background-color: #8869A5 !important; 
    border-color: #8869A5 !important;
}

.MuiPickersCalendarHeader-iconButton{
    color: rgba(0, 0, 0, 0.38) !important;
}

.MuiFormHelperText-root.Mui-error{
    font-family: "Barlow" !important;
    color: #8869A5 !important;
    font-size: 15px;
}

.MuiFormHelperText-root{
    margin-top: 0px !important;
}