@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Comfortaa:wght@500&display=swap');

.filter {
    border-radius: 25px !important;
    max-width: 300px !important;
    padding: 0.2em !important;
    background-color: rgba(255,255,255,30%) !important;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;


}
.MuiListItem-button{
    transition: none !important;
    /* border-radius: 15px; */
}
.MuiListItem-button:hover{
    border-radius: 15px;
}

.innerFilter {
    background: red;
    position: fixed;
}



.PrivateSwitchBase-input-9 {
    opacity: 1 !important;
    display: none;
}



.input[type="checkbox"]{
    color: green;
    opacity: 1 !important;


}

.listCSS{
    font-size: 60px!important;
    height: 30px;
}

.MuiListItem-dense{
    padding-top: 2px !important;
    padding-bottom: 2px !important;

}

.MuiInputBase-input{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.textStyle{
    font-family: "Barlow" !important;
    font-size: 18px;
    color: white;
}

.makeStyles-check-4{
    opacity: 1 !important;
    background-color: #EEF6F9;
}


.MuiIconButton-root{
    opacity: 1 !important;
    background-color: #EEF6F9;
}

.jss9 {
    opacity: 1 !important;
}

.jss4 {
    opacity: 1 !important;
}

.MuiCheckbox-root {
    opacity: 1 !important;
}

