.root {
    max-width: 600px;
    /* padding-left: 5%;
    padding-right: 5%; */
    margin: 0 auto;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; */

}

/* .menuButton { */
    /* float: right; */
    /* position: relative; */
/* } */

.title {
    color: white;
    text-align: center;
    font-family: "Crete Round";
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    /* font-size: 30px; */
    line-height: 45px;
    /* line-height: 30px; */
    letter-spacing: 0.06em;
    padding-top: 0.6em;
    /* padding-top: 0.3em; */
}

.tester{
    background-color: red;
    width:600px;
    height:600px;

}

/* Fix sizing inside className= root */
.bar {
    border-radius: 0 0 50% 50%!important;
    /* max-width: 600px!important; */
    height: 150px;
    background: linear-gradient(#CCBEBA, #959DA6);
    box-shadow: none;
    transition-duration: 0.6s;

    /* position: sticky; */
}

.scrollbar {
    border-radius: 0 0 50% 50%!important;
    /* max-width: 600px!important; */
    height: 75px;
    background: linear-gradient(#CCBEBA, #959DA6);
    box-shadow: none;
}

.date {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: white;
    text-align: center;
    padding-bottom: 1em;
}


.filterButton{
    background: #A3A5AB;
    border-radius: 20px;
    color: white;
    height: 2em;
    padding-left: 0.5em;
    padding-right: 2em;
    text-align: left;
    font-family: "Merriweather";
    border: none;
    display: hidden;
    /* opacity: 30%; */

    /* take this out, just here for testing */
    margin: 0 auto;

}
