span {
    display: block;
    font-family: "Lora";



}

#redditBlock{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.reddit {
    font-size: 14px;
    color: #669693;
    display: inline-block;



}

.trendingNum {
    font-size: 12px;
    color: #464745;
    opacity: 90%;
    float: right;


}

.subreddit {
    font-size: 20px;
    margin-left: 5%;
    margin-bottom: 0.2em;



}

.description {
    font-family: "Merriweather";
    font-size: 14px;
    padding-bottom: 1.5em;
    display: block;
    margin-left: 5em;


}

img {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    object-fit: cover;
    float: left;
    margin-right: 0.5em;


}


